body {
  margin: 0;
  padding: 0;
}

#mapid {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.leaflet-control-measure .leaflet-control-measure-toggle, .leaflet-control-measure .leaflet-control-measure-toggle:hover {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #C7D0D3;
  color: #070E46;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
}

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 2;
}

.ajuda {
  height: 40px;
  width: 40px;
  z-index: 999;
  position: absolute;
  left: 60px;
  top: 10px;
  color: #FFFFFF;
  background-color: #4C5A59;
  padding: 3px;
  font-family: 'Oswald', sans-serif;
  /*align center vertically and horizontally*/
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: 32px;
  border-radius: 10px;
}

.ajuda>a {
  color: #FFFFFF;
  text-decoration: none;
}

.ajuda>a:hover {
  color: #FF0000;
  text-decoration: none;
}

.ajuda  {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ajuda:hover{
  border-radius: 30px;
  font-size: 38px;
}

a.tooltip {
  outline: none;
}

a.tooltip:hover {
  text-decoration: none;
}

a.tooltip span {
  z-index: 10;
  display: none;
  padding: 14px 20px;
  margin-top: -30px;
  margin-left: 28px;
  width: 450px;
  height: 550px;
}

a.tooltip:hover span {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
    top: 32px;
    left: 18px;
    font-size: 13px;
}

.callout {
    z-index: 20;
    position: absolute;
    top: 10px;
    border: 0;
    left: -12px;
}

/*COLUNAS TOOLTIP HELP*/
.wrap {
   width:450px;
   margin:0 auto;
}
.left_col {
   float:left;
   width:100px;
   height: 90px;
   /*align center vertically and horizontally*/
   display:flex;
   align-items:center;
   justify-content:center;
   text-align: center;
}

.center_col {
   float:left;
   width:200px;
   height: 90px;
   text-align: justify;
   /*align center vertically and horizontally*/
   display:flex;
   align-items:center;
   justify-content:center;
}

.right_col {
  float:right;
   width:150px;
   height: 90px;
   /*align center vertically and horizontally*/
   display:flex;
   align-items:center;
   justify-content:center;
}
.right_col img{
  max-height:  90px;
  max-width: 120px;

}
